/* style buttons */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border: 16px solid #eee;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-left: 5%;
    margin-top: 5%;
    /*display: block;
    margin: auto;*/
}

.Red1 {
    border-top: 16px solid #FFA0B2;
}

.Orange1 {
    border-top: 16px solid #FFBE93;
}

.Yellow1 {
    border-top: 16px solid #FFFFC0;
}

.Green1 {
    border-top: 16px solid #A2FFBB;
}

.Blue1 {
    border-top: 16px solid #A9EFFF;
}

.Purple1 {
    border-top: 16px solid purple;
}

.Red2 {
    border-top: 16px solid #F15A5A;
}

.Orange2 {
    border-top: 16px solid #F0A856;
}

.Yellow2 {
    border-top: 16px solid #F0C419;
}

.Green2 {
    border-top: 16px solid #4EBA6F;
}

.Blue2 {
    border-top: 16px solid #2D95BF;
}

.Purple2 {
    border-top: 16px solid #955BA5;
}